footer {color:#000;position:relative;margin-top:1rem;background:none;overflow:hidden;
  .inner {margin:0 auto;padding:0 ($grid-gutter-width/4);}
  .inner-content {text-align:center;padding:1rem;border-top:3px solid $theme-primary-color;}
  h3 {background:darken($theme-extra-light-color, 5%);color:$theme-light-color;font-size:100%;margin:-1rem -1rem 1rem;padding:0.5rem 1rem;}
  .footer-logo {max-height:105px;}
  address {margin-bottom:0;}
  .socialize {font-size:240%;color:$theme-primary-color;@include transition(color 0.35s ease);text-decoration:none !important;
    &:hover {color:darken($theme-primary-color, 10%);}
  }
  .legalese {display:block;text-align:center;font-size:12px;color:$theme-light-color;width:100%;padding:0 1rem 0.75rem;}
  .quick-links {list-style:none;padding:0;margin:0;
    li {display:inline-block;}
    i {font-size:6px;position:relative;top:-3px;padding:0 5px;color:$theme-light-color;}
  }
  p {margin-bottom:0;}
}

#c-level-1 footer [class*="col-"] {padding-left:($grid-gutter-width/4);padding-right:($grid-gutter-width/4);}

.pg-home footer {background:rgba(35,25,32,0.5);
  .inner-content, .quick-links a {color:#fff;}
  h3 {background:rgba($theme-extra-light-color,0.15);color:$theme-extra-light-color;}
}

@media screen and (min-width:$screen-sm){
  .pg-home footer {/*background:rgba(35,25,32,0.5);*/margin-top:0;color:#fff;
    h3 {color:#fff;background:none;}
  }

  footer {margin-top:2rem;padding:2rem 0 0;
    .inner {padding:0 $grid-gutter-width/2;}
    .inner-content {text-align:left;margin-bottom:0;padding:1rem 0 0;}
    h3 {font-size:140%;display:block;float:none;margin:0;background:none;padding:0 0 0.5rem;color:#000;}
    .legalese {padding-top:0.75rem;}
    .quick-links {list-style:none;padding-bottom:1rem;
      li {display:block;}
      i {display:none;}
    }
  }
}

@media screen and (min-width:$screen-md){
  footer {padding:2rem 2rem 0;
    .legalese {padding-top:0;}
  }
}