.logo-load-progress {text-align:center;padding:2rem 0;margin:0 auto;
  .svg-logo-loader {max-width:200px;
    .logo-fill {visibility:hidden;}
    .logo-stroke path {stroke-dasharray:50;stroke-width:2px;stroke:$theme-light-color !important;}
  }

  &.working {
    .svg-logo-loader .logo-stroke path {@include animation(logo-always-stroke 3s linear infinite forwards);}
  }
}

@include keyframes(logo-always-stroke){
  0% {stroke-dashoffset:350;}
  50% {stroke-dashoffset:50;}
  100% {stroke-dashoffset:350;}
}